#game-info {
    max-width: 90%;
    margin: 0 auto;
}

.side-by-side {
    float: left;
}
.game-content-columns > div:last-child {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 48px;
    width: 66%;
}

.game-title{
    text-align: center;
}

.game__movie {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    align-content: center;
}

.game-card-video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.game-card-video__video {
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}